# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.env

# ide
.idea
.vscode

# encrypted files
deploy/ansible/vault_credentials.yml.enc

# generic .env.production file (one specific to each environment in ansible inventories)
.env.production

# local configuration files
.actrc
*/**/.actrc

# testing github event files
.github-test.event

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
.next

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
